<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 desc">
        L'objectif principal derrière le développement de cette bibliothèque motos est de se familiariser avec les
        technologies utilisées.
        <br>
        Frontend : Angular, TypeScript, Bootstrap, CSS, HTML.
        <br>
        Backend : Spring Boot, JEE, Java.
        <br>
        Base de données : SQL Server.
        <br>
        Déploiement : Azure cloud, Docker, Azure container registry, Azure container instance.
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="line"></div>
        <div class="row carteProfile barre">
          <div class=" col-md-4">
            <img class="rounded-circle profileImage" src="assets/hamza.png" alt="EL HADDAOUI Hamza">
          </div>
          <div class="donnePerso col-md-8">
            <div class="nomPerso">EL HADDAOUI Hamza</div>
            <div class="titrePerso">Software Engineering and Computer Systems at ISIMA.</div>
            <div class="d-flex social">
              <a href="https://www.facebook.com/hamza.elhaddaoui.5/" target="_blank"><i class="fa fa-facebook-official"></i></a>
              <a href="https://github.com/hamzaElhaddaoui" target="_blank"><i class="fa fa-linkedin-square item"></i></a>
              <a href="https://www.linkedin.com/in/hamzaelhaddaoui/" target="_blank"><i class="fa fa-github item"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>