.footer{
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 14px;
    color: white;
}

.profileImage{
    height:120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carteProfile{
    margin-top: 40px;
}
.titrePerso{
    margin-top: 5px;
}

.desc{
    margin-top: 40px;
    margin-bottom: 10px;
}
/* .social{
    margin-top: 10px;
} */

.social > a{
    color: white;
}
.item{
    margin-left: 10px;
}

.barre{
    border-left:white solid 1px;
    margin-bottom: 20px;
}