.carte{
    cursor: pointer;
    height: 430px;
    width: 100%;
    margin-bottom: 50px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carte:hover{
    margin-top: -5px;
}
.carte > .imageMoto{
    width: 100%;
    height: 250px;
}

.carte > .logoMarque{
    width: 50px;
    position: absolute;
    right: 20px;
}

.nomMoto{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
}

.modelMoto{
    margin-top: 20px;
    margin-right: 15px;
    font-size: 15px;
}

.descriptionMoto{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    hyphens: auto;
    text-align: justify;
    text-justify: distribute;
}