.marqueMoto{
    color: blanchedalmond;
}

.marqueMotoSmall{
    display: none;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    left: auto;
    right: auto;
}


@media (max-width: 991px) {
    .marqueMotoLarge     { display: none; }
    .marqueMotoSmall { display: block; }
}

.dropCustom{
    width: 100%;
}

.marqueMenu{
    height: 75px;
    cursor: pointer;
}

.carte{
    height: 80%;
    width: 100%;
    margin-bottom: 50px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marqueClicked{
    padding: 10px;
}

.nomMarque{
    margin-top: 10px;
}

.fa{
    margin-right: 10px;
}

.fermerFenetre{
    color: grey;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
}