.background{
    z-index: -1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.actualiser{
    color: honeydew;
    position: relative;
    left: 7%;
    cursor: pointer;
    bottom: 15px;
    font-size: 30px;
}

.goTop{
    color: honeydew;
    position: relative;
    left: 93%;
    cursor: pointer;
    bottom: 20px;
    font-size: 40px;
}