.marge{
    margin-top: 30px;
}
.carte{
    font-family: verdana , sans-serif;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titre{
    margin-top: 10px;
    letter-spacing: -1px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    display: inline-block;
    transform: scale(1, 1.3);
}

.marque{
    color: #ff3333;
    text-transform: uppercase;
}

.nomMoto{
    text-transform: uppercase;
}

.productionMoto{
    color: grey;
    font-style: italic;
    font-size: 18px;
}

.ligne{
    margin-top: 10px;
    margin-left: 10px;
    border-top: 1px grey solid;
    width: 65%;
}
.categorie{
    font-style: oblique;
    margin-left: 10px;
    font-variant: small-caps;
    letter-spacing: -1px;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
}

.image{
    width: 100%;
    margin-right: 0px;
}

.description{
    margin:10px;
    font-size: 15px;
    text-align: justify;
}

.titreCat{
   font-variant: small-caps; 
}

.cadre{
    padding: 10px;
    font-size: 18px;
}

.ligne2{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px grey solid;
    width: 100%;
}

.lignePro{
    border-top:2px #f5f5f5 solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.car{
    color: #999999;
    font-variant: small-caps;
}

.info{
    font-size: 15px;    
}

.imageS{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.imageS > img{
    width: 100%;
}

.contS{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 15px;
    width: 90%;
}

.motoSim{
    cursor: pointer;
}


