.marge{
    margin-top: 30px;
}
.carte{
    width: 100%;
    background-color: white;
    margin-bottom: 25px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titre{
    margin-top: 10px;
    margin-left: 10px;
    height: 25px;
    width: 55%;
    animation:  pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

.ligne{
    margin-top: 10px;
    margin-left: 10px;
    border-top: 1px grey solid;
    width: 65%;
}

.categorie{
    margin-left: 10px;
    margin-top: 10px;
    height: 15px;
    width: 35%;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
}

.image{
    width: 100%;
    height: 300px;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        background-color: rgba(165, 165, 165, .1);
    }
    50%{
        background-color: rgba(165, 165, 165, .5);
    }

    100%{
        background-color: rgba(165, 165, 165, .1);
    }
}

.description{
    margin:10px;
    height: 15px;
    width: 80%;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}

.titreCat{
   font-variant: small-caps; 
}

.cadre{
    padding: 10px;
    font-size: 18px;
}

.ligne2{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px grey solid;
    width: 100%;
}

.lignePro{
    border-top:2px #f5f5f5 solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.car{
    color: #999999;
    font-variant: small-caps;
}

.info{
    font-size: 15px;    
}

.imageS{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.imageS > img{
    width: 100%;
}

.contS{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 15px;
    width: 90%;
}

.motoSim{
    cursor: pointer;
}

.back{
    color: honeydew;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

